@import "variables";
@import "mixins";

* {
  @include overal;
}

body {
  background-color: $bgColor;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 3rem;
  background-color: $primaryColor;

  h1 {
    @include textStyle(1.3rem, bold, $secondaryColor);
  }
}

.hamburger-menu {
  display: none;
  flex-direction: column;

  span {
    display: inline-block;
    height: 3px;
    width: 20px;
    border-radius: 3px;
    margin: 2px;
    background-color: $secondaryColor;
  }
}

.navbar {
  display: flex;
  align-items: center;

  img {
    width: 40px;
    border-radius: 50%;
  }

  nav {
    margin-right: 40px;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  a {
    padding: 8px;
    text-decoration: none;
    transition: all 0.15s ease-in;
    @include textStyle(1rem, bold, $secondaryColor);

    &:hover {
      color: $textColor;
    }
  }
}

.main {
  display: flex;
  margin: 2rem 3rem;

  aside {
    flex-direction: column;
    width: 25%;
    margin-right: 25px;
    @include bodyStyle;
    @include boxStyle;

    div {
      background-color: $primaryColor;
      width: 100%;
      height: 110px;
      margin: 20px 10px;
      line-height: 110px;
      text-align: center;
      @include textStyle(1rem, bold, $secondaryColor);
      @include boxStyle;
    }
  }

  main {
    width: 75%;
    @include bodyStyle;
    @include boxStyle;
    flex-direction: column;

    img {
      width: 25rem;
    }

    h2 {
      @include textStyle(4rem, bold, $primaryColor);
      margin: 2rem 0 3rem;
    }

    p {
      @include textStyle(2rem, bold, $textColor);
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 4.5rem);
  margin: 0 auto;
  padding: 1.25rem 0;
}

.card {
  @include boxStyle;
  margin: 0 0.6rem;
  width: calc(25% - 1.2rem);
  // height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 93%;
  }

  .card-content {
    line-height: 1.8rem;
    padding: 0 0.7rem;

    p {
      @include textStyle(1rem, 200, $textColor);
      margin-bottom: 1rem;
    }

    span {
      @include textStyle(1.1rem, bold, $primaryColor);
    }
  }
}

footer {
  // width: 100%;
  // height: 100px;
  background-color: $primaryColor;
  padding: 0.8rem 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    @include textStyle(1rem, 500, $secondaryColor);
    transition: all 0.17s ease-in-out;

    &:hover {
      color: rgb(72, 255, 0);
    }
  }

  .link-logo {
    display: flex;
    align-items: center;

    nav {
      margin-right: 6rem;
    }

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      @include textStyle(1rem, bold, $secondaryColor);
      display: inline-block;
      margin-bottom: 8px;
      transition: all 0.3s ease-out;

      &:hover {
        color: $textColor;
      }
    }

    img {
      width: 40px;
      margin-right: 2.5rem;
      border-radius: 100%;
      border: 1px solid rgba($primaryColor, 0.4);
    }
  }
}

@include media(M) {
  .hamburger-menu {
    display: flex;
  }

  .navbar {
    display: none;
  }

  .main {
    flex-direction: column-reverse;
    margin: 1rem;

    main {
      width: calc(100% - 2rem);
      height: 600px;
      margin-bottom: 1.25rem;

      p {
        font-size: 1.2rem;
      }

      img {
        width: 19rem;
      }
    }

    aside {
      width: calc(100% - 2rem);
      height: 600px;
    }
  }

  .cards {
    padding: 0.4rem 0.4rem;
    width: calc(100% - 0.8rem);
  }

  .card {
    margin: 0.5rem 0.7rem;
    width: calc(100% - 1.4rem);

    img {
      width: 95%;
    }

    .card-content {
      p {
        font-size: 1.2rem;
      }
      span {
        font-size: 1.3rem;
      }
    }
  }

  footer {
    padding: 1rem 0.2rem;

    img {
      display: none;
    }

    p {
      margin-right: 1.5rem;
      font-size: 0.7rem;
      font-weight: 500;
      line-height: 1.5;
    }

    .link-logo {
      nav {
        margin-right: 0.1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      a {
        font-size: 0.7rem;
        // line-height: 1.5;
        margin-bottom: 4px;
        white-space: nowrap;
      }
    }
  }
}

@include media(L) {
  .cards {
    padding: 0 0.5rem;
    width: calc(100% - 1rem);
  }

  .card {
    margin: 0.8rem 0.9rem;
    width: calc(50% - 1.8rem);

    .card-content {
      p {
        font-size: 1.3rem;
      }
      span {
        font-size: 1.31rem;
      }
    }
  }

  footer {
    padding: 1rem 0.2rem;
    display: flex;
    align-items: center;

    .summary {
      display: flex;
      align-items: center;
      // justify-content: center;

      p {
        font-size: 1rem;
        margin-right: 4rem;
        line-height: 1.3;
        // white-space: pre-line;
      }
    }
    .link-logo {
      margin: 0 auto;
      nav {
        margin-right: 3rem;
        // margin-left: 1rem;
      }
      a {
        font-size: 0.9rem;
        white-space: nowrap;
        margin-bottom: 5px;
      }

      img {
        width: 30px;
        margin-right: 0.6rem;
      }
    }
  }
}
